@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
* {
  margin: 0%;
  padding: 0%;
  /* box-sizing: border-box; */
  font-family: "Be Vietnam pro", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bgorange: #e84949;
}

#wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
}

.codex_x {
  margin: 1.5rem auto;
  padding: 3rem;
  font-weight: 500;
  color: black;
  font-size: 15px;
  justify-content: baseline;
  align-items: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
  color: black;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.logo {
  padding-right: 0%;
  width: 80px;
}

.logo_text {
  margin: -1.2rem;
  font-size: 28px;
}

.logo_container {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

.nav_item {
  display: flex;
  gap: 2rem;
  padding: 4rem;
}

.nav_item div {
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  scroll-behavior: smooth;
}

.nav_item div a {
  color: black;
}

a {
  text-decoration: none;
}

.nav_item div:hover {
  transition: 0.8s;
  transition-delay: 3ms;
  font-weight: bold;
}

.hero_section_discription {
  text-align: start;
}

.hero_section {
  position: relative;
  display: flex;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  /* gap: 25rem; */
  margin: 1rem auto;
  padding: 0 1rem;
  padding-bottom: 1%;
}

.faded_text {
  position: absolute;
  user-select: none;
  font-size: 7em;
  color: rgb(231, 231, 231);
  bottom: -20%;
  left: 5%;
  font-weight: bold;
  transition: all 3s;
}

.hero_section_left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 3rem;
}

.hero_section_heading {
  font-size: 35px;
  color: #343d68;
  font-weight: 500;
}

.role {
  color: #4e45d5;
  font-weight: 600;
}

.hero_section_subheading {
  font-size: 45px;
  line-height: 45px;
}

.hero_section_discription {
  margin-top: 1rem;
  width: 450px;
  font-weight: 500;
  font-size: large;
}

.btn_pink {
  background-color: #4e45d5;
  width: fit-content;
  padding: 0.8rem 2.3rem;
  color: white;
  font-size: 18px;
  box-shadow: 5px 5px 7px 0px #0000003f;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: bold;
  border: solid 3px transparent;
}

.btn_pink::before {
  content: "";
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.8s;
  z-index: -1;
}

.btn_pink:hover::before {
  transform: scaleX(1);
}

.btn_pink:hover {
  /* border: solid 3px #4e45d5; */
  color: black;
  border: none;
}

.hero_section_right {
  position: relative;
}

.absolute_icons {
  position: absolute;
  z-index: 1;
}

.user_image {
  height: 350px;
  width: 400px;
  margin-top: 1.5rem;
  padding: 2.5rem;
  filter: grayscale(1);
  transition: all 1s;
  /* height: 100%; */
  /* width: 100%; */
  object-fit: cover;
  animation: scaleimage 5s linear infinite;
}

.user_image img {
  padding-top: 1.5rem;
  z-index: -1;
  height: 400px;
  width: 350px;
}

@keyframes scaleimage {
  0% {
    filter: grayscale(0);
    transform: scale(1);
  }
  50% {
    filter: grayscale(1);
    transform: scale(1.1);
    box-shadow: 3px 3px 10px black;
  }
  100% {
    filter: grayscale(0);
    transform: scale(1);
  }
}

.icon_dots {
  z-index: 9;
  bottom: -1rem;
  right: 0;
  animation: dotanimation 5s infinite;
}

@keyframes dotanimation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.icon_cubes {
  z-index: 9;
  top: 0.8em;
  right: 1rem;
  animation: cuberotate 3s infinite;
}

@keyframes cuberotate {
  0% {
    transform: translateY(0px) rotateY(0deg);
  }
  50% {
    transform: translateY(15px) rotateY(180deg);
  }
  100% {
    transform: translateY(0px) rotateY(360deg);
  }
}

.icon_circle {
  z-index: 9;
  bottom: 0;
  left: 0;
  animation: shakeeffect 6s infinite;
}

@keyframes shakeeffect {
  0% {
    left: 0;
    bottom: 0;
  }
  50% {
    left: 3%;
    bottom: 8%;
  }
}

.icon_zigzag {
  z-index: 9;
  top: 2rem;
  left: -0.1em;
  animation: zigzag 5s ease-in infinite;
}

@keyframes zigzag {
  50% {
    left: 2%;
    top: 2%;
  }
}

.icon_plus {
  z-index: 9;
  top: 0.8rem;
  left: 50%;
  animation: plus 5s ease-in infinite;
}

@keyframes plus {
  50% {
    top: 1%;
    left: 45%;
  }
}

.project_section {
  background-color: rgb(231, 231, 231);
  margin-top: 5rem;
}

.page_header {
  font-size: 40px;
  text-align: center;
  padding-top: 30px;
  color: var(--bgorange);
}

.project_container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 120px;
  overflow-x: hidden;
}

.project_card {
  width: 90%;
  height: 550px;
  background-size: cover;
  /* background-repeat: no-repeat; */
  position: relative;
  box-shadow: 0px 0px 40px #1f1f1f;
}

.project_card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1f1f1f9a;
  /* transform: scaleX(1); */
  z-index: 0;
}

.project_card::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s;
  z-index: 1;
}

.project_card:hover::before {
  transform: scaleX(1);
}

.project_num {
  position: absolute;
  font-size: 100px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  z-index: 10;
  display: none;
}

.project_num_right {
  right: -15px;
  top: -25px;
}

.project_num_left {
  left: -15px;
  top: -20px;
}

.project_card:hover .project_num {
  display: block;
  transition: all 2s;
}

.project_content {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2rem;
  bottom: 20%;
  gap: 1em;
  transition: all.4s;
}

.project_contain_left {
  left: 8%;
}

.project_contain_right {
  right: 8%;
}

.project_skill_container {
  width: 50%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.project_skill {
  width: 40px;
}

.project_heading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
}

.project_subheading {
  width: 70%;
  font-size: 16px;
  font-style: italic;
}

.btn_grp {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}

.btn_project:hover {
  border: none;
}

.icon {
  cursor: pointer;
  color: white;
  font-size: 34px;
}

.fa-brands {
  color: white;
}

.project_card:hover .project_content {
  transform: scale(1.1);
}

.project1 {
  background-image: url(./images/projects/Project1.png);
}

.project2 {
  margin-left: 120px;
  background-image: url(./images/projects/Project2.png);
}

.project3 {
  background-image: url(./images/projects/Project3.png);
}

.project4 {
  margin-left: 120px;
  background-image: url(./images/projects/Project4.png);
}

.project5 {
  background-image: url(./images/projects/Screenshot\ 2024-09-24\ 225805.png);
}

.project6 {
  margin-left: 120px;
  background-image: url(./images/projects/Screenshot\ 2024-09-24\ 225843.png);
}

@media (max_width: 1200px) {
  .page_header {
    padding-top: 30px;
    color: var(--bgorange);
    text-align: center;
    font-size: 40px;
  }
  .project_container {
    padding: 5px;
    margin: 10px;
    gap: 60px;
  }
  .project_card {
    width: 100%;
    height: 300px;
  }
  .project_card {
    background-size: cover;
    background-position: center;
  }
  .project_content {
    scale: 0.5;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  .project_contain_left {
    left: 0;
  }
  .project_heading {
    font-size: 40px;
    width: 100px;
  }
  .project_subheading {
    width: 100%;
  }
  .project2 {
    margin-left: 0;
  }
  .project4 {
    margin-left: 0;
  }
  .project6 {
    margin-left: 0;
  }
  .project_skill_container {
    width: 100%;
  }
  .project_skill {
    width: 35px;
  }
  .project_card:hover .project_num {
    display: none;
  }
  .project_card:hover .project_content {
    scale: 0.55;
  }
}

.skills_container {
  position: relative;
  display: flex;
  padding: 3rem;
  margin: 4rem auto;
  gap: 30px;
  animation: blob 6s delay infinite;
  justify-content: center;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.skill_container_left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.project_skill_right {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  gap: 2rem;
}

.skill_faded_text {
  position: absolute;
  font-size: 15rem;
  color: cadetblue;
  bottom: -12.5%;
  right: -13%;
  user-select: none;
}

.blob_style {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: blob 3s linear infinite;
  z-index: -2;
}

@keyframes blob {
  50% {
    top: 54%;
    left: 46%;
  }
}

.skills_logo {
  width: 90px;
  transition: all 0.5s;
}

.skills_logo:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.skills_heading {
  color: #4e45d5;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 7%;
}

.caps {
  font-size: 90px;
  font-style: italic;
}

.skill_subheading {
  margin-top: 1rem;
  width: 85%;
  text-align: justify;
}

.skill_subheading p {
  margin: 0;
}

.contact_section {
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_heading {
  font-size: 4em;
  color: #4e45d5;
  padding-top: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form_subheading {
  font-size: 2rem;
  color: #343d68aa;
  text-transform: capitalize;
}

.form_section {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.form_fill_container {
  margin-top: 25px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 2rem 5rem;
}

.form_fill_container {
  width: 100%;
}

.formfield {
  width: 100%;
  height: 42px;
  padding: 0 2rem;
  font-size: 18px;
  border-radius: 9px;
  box-shadow: 2px 2px 10px #1f1f1f;
  border: none;
}

.form_fill_textarea {
  height: auto;
  padding-top: 1rem;
}

#submit_btn {
  border: none;
  font-size: 1rem;
  margin: 1rem 0;
  justify-content: start;
}

.submit_icon {
  padding: 0 1rem;
  font-size: 1.5rem;
}

footer {
  position: relative;
  background-color: #343d68;
  margin-top: -1px;
  padding: 3rem;
  height: 50%;
}

.footer_wrapper {
  display: flex;
  gap: 1rem;
  padding: 1.2rem;
}

.footer_faded_text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #535c87;
  user-select: none;
  font-size: 3em;
  font-family: cursive;
}

.link_wrapper {
  display: flex;
  gap: 2.5rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  text-transform: capitalize;
}

.link_wrapper div a {
  color: white;
  text-decoration: none;
  transition: 0.6s;
}

.link_wrapper div a:hover {
  color: var(--bgorange);
  text-decoration: none;
}

.icon_wrapper {
  gap: 4rem;
  font-size: 2rem;
}

.fa-solid {
  color: white;
}

.pp {
  gap: 1rem;
}

@media screen and (max-width: 991px) {
  .container {
    margin: 0 auto;
    text-align: center;
    width: 700px;
  }
  .logo_container {
    justify-content: center;
    margin: 0 auto;
  }
  .nav_item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .hero_section_right {
    margin: 0 auto;
    width: 200px;
    height: 300px;
    display: block;
    padding-right: 20px;
  }
  .user_image {
    justify-content: center;
    width: 50%;
    height: 48%;
    display: flex;
    flex-direction: row;
  }
  .hero_section_left {
    width: 200px;
    display: block;
    justify-content: center;
    margin: 0% auto;
    padding-left: 20px;
  }
  .btn_pink {
    margin: 0 auto;
    justify-content: center;
    padding: 2rem;
    height: fit-content;
    width: fit-content;
  }
  .faded_text {
    font-size: smaller;
    text-align: center;
  }
  .absolute_icons {
    width: 40px;
    height: 25px;
  }
  .hero_section_heading {
    margin: 0 auto;
    padding-left: 10px;
    width: 100px;
    height: 60px;
    font-size: 15px;
  }
  .hero_section_subheading {
    margin: 0 auto;
    padding: left 5px;
    width: 80px;
    height: 45px;
    font-size: 30px;
  }
  .hero_section_discription {
    margin: 0 auto;
    width: 300px;
    height: 135px;
    font-size: small;
    font-weight: 300;
  }
  .role {
    margin: 0 auto;
    width: 8px;
    height: 50px;
    font-size: small;
  }
}
